<article>
    <div>
        <h3 class="text-center fw-bold">
            <a href="/post/{{id}}">{{title}}</a>
        </h3>
    </div>
    <div class=" text-butter text-center">
        Made by <span class="fw-bold">{{user.username}}</span> on {{format_date created_at}}
    </div>
    <div class="post-text py-3 px-4">
        {{format_post_text post_text}}
    </div>
</article>

